body {
    background-color: #6D27DD;
  }

  .profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .profile-info {
    margin-bottom: 16px;
    color: #333;
  }

  .label {
    font-weight: bold;
  }