body {
    background-color: #a06bf6;
}

.friends-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .friends-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .friends-table th, .friends-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .friends-table th {
    background-color: #f2f2f2;
  }
  
  .games-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }