body, html {
  background-color: black;
  height: 100%;
}

#pano {
  float: left;
  height: 100%;
  width: 100%; 
}

#floating-panel {
  position: absolute;
  top: 70%;
  left: 75%;
  z-index: 2;
  text-align: center;
  height: 30%;
  width: 25%;
  opacity: 0.5;
}

#map {
  height: 80%;
  width: 100%;
}

#guessbutton {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  font-size: 150%;
  height: 20%;
  width: 100%;
}

#locationInfo {
  position: absolute;
  z-index: 1;
  background-color: black;
  top: 120px;
  right: 0;
  opacity: 0;
  height: 12%;
  width: 15%;
  overflow: hidden;
  color: white; 
  font-family: 'Arial', sans-serif; 
  font-size: 16px; 
  padding: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

#locationInfo p {
  margin: 0; 
  line-height: 1.5; 
}

.custom-navbar {
  background-color: rgba(0, 0, 0, 0.3); 
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  overflow: hidden; 
}

.navbar-logo {
  height: 80px;
  width: 80px;
}
.navbar-content {
  color: white;
  font-size: 200%;
}