{% extends 'base.html' %}
{% load static %}

{% block title %}
  Home - MapTag
{% endblock %}

{% block extra_head %}
  <!-- Required stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
  <!-- Required scripts -->

{% endblock %}

{% block content %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message:</strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
    </div>
  {% endfor %}

  <!-- Main container -->
  <div class="main-container">

    <!-- Blurry background image -->
    <img class="blurry-background" src="{% static 'images/background.jpg' %}" alt="Background" />

    <!-- Foreground box -->
    <div class="foreground-box">
      {% if user.is_authenticated %} <!-- User logged in -->
        <!-- Box text -->
        <div class="box-text">Jump right into the game!</div>

        <!-- Buttons -->
        <div class="btn-container">
          <button type="submit" class="btn btn-primary"><a href="{% url "gameselection" %}">Start Game</a></button>
        </div>
      {% else %} <!-- User not logged in -->
        <!-- Box text -->
        <div class="box-text">Create an Account to Play for Free!</div>

        <!-- Small font text -->
        <div class="small-text">Get access to different challenges and find out your personal highscore for free!</div>

        <!-- Buttons -->
        <div class="btn-container">
          <button onclick="document.getElementById('login-modal').style.display='block'" type="button" class="btn btn-primary">Log in</button>
          <button onclick="document.getElementById('register-modal').style.display='block'" type="button" class="btn btn-success">Sign Up</button>
        </div>

        
      {% endif %}

      
    </div>
  </div>

{% if user.is_authenticated %} <!-- User logged in -->
{% else %} <!-- User not logged in -->

<div id="register-modal" class="modal">
    
  <div class="modal-content animate">
      <h1>Create an Account</h1>

      <div class="container">
        <form action="  " method="post">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Username (only letters and numbers)" Required />
          <input type="text" id="fname" name="fname" placeholder="Enter your First Name" Required />
          <input type="text" id="lname" name="lname" placeholder="Enter your Last Name" Required />
          <input type="email" id="email" name="email" placeholder="Enter your Email Address" Required />
          <input type="password" name="pass1" placeholder="Password" Required />
          <input type="password" name="pass2" placeholder="Repeat Password" Required />
          <button type="submit" class="submit-button">Register</button>
        </form>

      <p>By creating an account you agree to our Terms & Privacy</p>
      
      </div>

      <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('register-modal').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Already have an account? <a 
          onclick=
          "document.getElementById('login-modal').style.display='block'
          document.getElementById('register-modal').style.display='none'"
          href="#">Log in here!</a></span>
      </div>
    </div>
</div>

<div id="login-modal" class="modal">

  <div class="modal-content animate">

      <h1>Log In</h1>

      <div class="container">
        <form action="/log_in" method="post">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Enter your Username" Required />
          <input type="password" name="pass1" placeholder="Enter your Password" Required />
          <button type="submit" class="submit-button">Log in</button>
        </form>
      </div>

      <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('login-modal').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">No account yet? <a 
          onclick=
          "document.getElementById('register-modal').style.display='block'
          document.getElementById('login-modal').style.display='none'"
          href="#">Create one here!</a></span>
      </div>
    </div>
</div>

{% endif %}

  {% if user.is_authenticated %}
   <!-- Section with information and boxes -->
   <div class="container mt-5 container-section">
    <div class="row text-center">
      <!-- Information section -->
      <div class="col-12 mb-5">
        <h2>MAPTAG</h2>
        <p>Discover the exciting world of MapTag and enjoy exclusive benefits!</p>
      </div>
      <!-- Boxes with symbols and text -->
        <div class="col-md-4">
          <div class="feature-box">
            <p>Check out you and your friends highscores!</p>
            <a href="#" class="btn btn-outline-light"><span class="symbol">&#127942;</span> Friends <span class="symbol">&#127942;</span></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
            <p>Explore custom made games!</p>
            <a href="#" class="btn btn-outline-light"><span class="symbol">&#127759;</span> Custom Games <span class="symbol">&#127759;</span></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
            <p>Check out your account!</p>
            <a href="#" class="btn btn-outline-light"> <span class="symbol">&#128100;</span> My Account <span class="symbol">&#128100;</span></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
            <p>Play on different difficulties!</p>
            <a href="#" class="btn btn-outline-light"><span class="symbol">&#127918;</span> Play MapTag <span class="symbol">&#127918;</span></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
            <p>Show off your custom games!</p>
            <a href="#" class="btn btn-outline-light"><span class="symbol">&#9733;</span> My Games <span class="symbol">&#9733;</span></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
            <p>Compete with your friends!</p>
            <a href="#" class="btn btn-outline-light"><span class="symbol">&#127891;</span> Friends <span class="symbol">&#127891;</span></a>
          </div>
        </div>
    </div>
  </div>

  {% else %}
  <!-- Section with information and boxes -->
  <div class="container mt-5 container-section">
    <div class="row text-center">
      <!-- Information section -->
      <div class="col-12 mb-5">
        <h2>Why Create an Account?</h2>
        <p>Discover the exciting world of MapTag and enjoy exclusive benefits!</p>
      </div>

      <!-- Boxes with symbols and text -->
      <div class="col-md-4">
        <div class="feature-box">
          <span class="symbol">&#9733;</span>
          <p>Find out your own highscore!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <span class="symbol">&#127759;</span>
          <p>Guess the place!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <span class="symbol">&#128100;</span>
          <p>Challenge your friends!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <span class="symbol">&#127918;</span>
          <p>Create your own custom games!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <span class="symbol">&#127942;</span>
          <p>Choose your own difficulty!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <span class="symbol">&#127891;</span>
          <p>Learn more about the world around you!</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
