.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    padding-top: 5.1em;
    padding-bottom: 5.2em;
    overflow: hidden;
}

/* Style for the form */
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #a06bf6;
    min-height: 100%;
}

.make-game {
    font-family: "Outfit", sans-serif;
    max-width: 40vw;
    /* Adjust the maximum width of the form as needed */
    width: 100%;
    padding: 2vw;
    background-color: #fefefe;
    border-radius: 2vw;
    box-shadow: 0 0 0.4vw #000
}

h3 {
    font-size: 2vw;
    /* Adjust the font size using vw */
    margin-bottom: 2vw;
}

#form-div {
    display: flex;
    font-size: 1.5vw;
    flex-direction: column;
}

.form-group {
    margin-bottom: 2vw;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5vw;
    color: #333;
    font-weight: bold;
}

select,
input {
    width: 100%;
    padding: 1vw;
    height: 2.0vw;
    border: 0.1vw solid #ddd;
    border-radius: 0.5vw;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    width: 100%;
}