body,
html {
    background-color: black;
    height: 100%;
}

#pano {
    float: left;
    height: 100%;
    width: 100%;
}

#floating-panel {
    position: absolute;
    top: 70%;
    left: 65%;
    z-index: 10;
    text-align: center;
    height: 30%;
    width: 35%;
    opacity: 0.5;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 10;
}

.custom-navbar {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar-content {
    color: white;
    font-size: 200%;
}

.dropbtn {
    background-color: #a06bf6;
    font-family: 'Outfit', sans-serif;
    border-radius: 10px;
    color: lightgreen;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #8460bd;
}

.dropbtn:hover {
    transform: scale(1.075);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: 'Outfit', sans-serif;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: -6em;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#id01 {
    background-image: url('../images/backgroundgame.jpg');
    background-size: cover;
    z-index: 9;
}

#id02 {
    background-image: url('../images/backgroundgame.jpg');
    background-size: cover;
    z-index: 9;
    display: block;
}

#modal1 {
    font-family: 'Outfit', sans-serif;
    background-color: #2c3333;
}

#locationInfo {
    z-index: 1;
    opacity: 0;
    height: 50%;
    width: 80%;
    overflow: hidden;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#locationInfo p {
    line-height: 0px;
    font-size: large;
}

#button-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.custom-button {
    background-color: #9521DC;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    transition: transform 0.2s ease-in;
}

.custom-button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div h1 {
    text-align: center;
    color: white;
    font-size: 300%;
}

.modal {
    font-family: 'Work Sans', sans-serif;
    display: none;
    color: white;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 120px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #2c3333;
    padding-top: 60px;
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    border: 10px solid #888;
    width: 50%;
    max-width: 600px;
    background-color: #2c3333;
    text-align: center;
}

#current-score-modal {
    text-align: center;
    color: white;
}

@keyframes combineScores {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateX(-20px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.combine-scores {
    animation: combineScores 1s ease-out;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


.loader {
    border: 1vw solid #f3f3f3;
    border-radius: 50%;
    border-top: 1vw solid #3498db;
    width: 5vw;
    height: 5vw;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

