{% extends "base.html" %}
{% load static %}

{% block title %}
  My Account - MapTag
{% endblock %}

{% block extra_head %}
  <!-- Required stylesheets -->
  <!--<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">-->
  <link rel="stylesheet" type="text/css" href="{% static 'styles/myaccount.css' %}" />

  <!-- Required scripts -->
  
{% endblock %}

{% block content %}
<div class="profile-container">
  <div class="profile-info">
    <span class="label">Username:</span> {{ user.username }}<br>
  </div>

  <div class="profile-info">
    <span class="label">First Name:</span> {{ user.first_name }}<br>
  </div>

  <div class="profile-info">
    <span class="label">Last Name:</span> {{ user.last_name }}<br>
  </div>

  <div class="profile-info">
    <span class="label">Email:</span> {{ user.email }}<br>
    <button>Edit Your Account Details Here!</button>
  </div>
</div>
{% endblock %}