{% extends 'base.html' %}
{% load static %}
{% load game_tags %}

{% block title %}
  Custom Game Detail - MapTag
{% endblock %}

{% block extra_head %}
  <!-- Required stylesheets -->
  <style>
    .body {
        padding-top: 4em;
        background-color: #a06bf6;
    }
    
    .game-detail-title {
      font-size: 1em;
      font-family: 'Work Sans', sans-serif;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-align: center;
      color: white;
      margin-top: 1.8em;
    }
    
    .game-detail-title h1 .title {
      color: lightskyblue;
    }
    
    .game-detail-title h1 .creator {
      color: mediumaquamarine;
    }
    
    .game-detail-container {
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: 5em;
      padding: 2em;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      position: relative;
      /* added */
    }
    
    .game-detail-container .game-posted-date {
      position: absolute;
      top: -1em;
      right: 1em;
      margin: 1em;
      font-family: 'Work Sans', sans-serif;
      font-size: 0.9em;
      color: #333;
    }
    
    .game-detail-container p {
      line-height: 1.5;
      margin-bottom: 2em;
      padding-top: 1.2em;
      font-family: 'Roboto', sans-serif;
      font-size: 1.2rem;
      color: black;
    }
    
    .game-detail-container h2 {
      margin-top: 0;
      margin-bottom: -0.9em;
      font-family: 'Work Sans', sans-serif;
      font-size: 1.6em;
      color: darkslateblue;
    }
    
    .detailed-actions {
      margin-top: 1.5em;
      display: flex;
    }
    
    .detailed-actions a {
      margin-right: 0.5em;
      background-color: white;
      color: mediumaquamarine;
      border: 1px solid mediumaquamarine;
      border-radius: 5px;
      padding: 5px 10px;
      text-decoration: none;
      font-family: 'Work Sans', sans-serif;
      font-size: 0.9em;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
    
    .game-play {
      background-color: mediumaquamarine !important;
      color: white !important;
    }
    
    .game-apply:hover {
      transform: scale(1.1);
    }
  </style>

  <!-- Required scripts -->
  <script src="https://kit.fontawesome.com/faa39f46c7.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  <div class="game-detail-title">
    <h1><span class="title">{{ game.map_title }}</span> by <span class="creator">{{ game.creator }}</span></h1>
  </div>
  <div class="game-detail-container">
    <div class="game-posted-date">
      <p>{{ game.date_created }}</p>
    </div>
    <h2>Game description</h2>
    <p>{{ game.map_description }}</p>
    <h2>Mobility</h2>
    {% if game.mobility %}
      <p>Enabled, the player is able to move.</p>
    {% else %}
      <p>Disabled, the player is not able to move.</p>
    {% endif %}
    <h2>Difficulty</h2>
    <p>{{ game.difficulty }}</p>
    <h2>Timer</h2>
    {% if game.timer_status %}
      <p>Enabled, {{ game.timer_duration }} seconds.</p>
    {% else %}
      <p>Disabled.</p>
    {% endif %}
    <div class="detailed-actions">
      <a href="/game?id={{ game.id }}" class="game-play"><i class="fa-solid fa-play fa-sm"></i> Play</a>
      <a href="#" class="game-like"><i class="fa-solid fa-thumbs-up fa-sm"></i> Like</a>
      <a href="#" class="game-dislike"><i class="fa-solid fa-thumbs-down fa-sm"></i> Dislike</a>
    </div>
  </div>
{% endblock %}
