{% extends 'base.html' %}
{% load static %}
{% load game_tags %}

{% block title %}
  Custom Games - MapTag
{% endblock %}

{% block extra_head %}
  <!-- Required stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'styles/custom_games.css' %}" />

  <!-- Required scripts -->
  <script src="https://kit.fontawesome.com/faa39f46c7.js" crossorigin="anonymous"></script>
  <script src="{% static 'scripts/cg_dynamic_style.js' %}"></script>
  <script src="{% static 'scripts/custom_games.js' %}"></script>
  <script src="{% static 'scripts/rating.js' %}"></script>
  <script>
    function toggleTimerInput() {
        var timerActiveSelect = document.getElementById('timerstatus-select')
        var durationSection = document.getElementById('duration-section')
      
        durationSection.style.display = timerActiveSelect.value === 'True' ? 'block' : 'none'
      }
  </script>
{% endblock %}

{% block content %}
  <h1>Custom Games</h1>
  <div class="games-container">
    <div class="search-container">
      <input type="text" id="title-search" placeholder="Search by title" />
      <input type="text" id="creator-search" placeholder="Search by creator" />
    </div>
    <div class="tools-container">
      <div class="filtering-container">
        <button id="filter-btn">Filter <i class="fa-solid fa-filter fa-sm"></i></button>
        <div id="filter-bubbles"></div>
        <div class="filter-menu" id="filter-menu" style="display:none;">
          <!-- Mobility filter -->
          <div class="filter-section">
            <label for="mobility-select">Mobility:</label>
            <select id="mobility-select">
              <option value="">Any</option>
              <option value="True">Yes</option>
              <option value="False">No</option>
            </select>
          </div>
          <!-- Difficulty filter -->
          <div class="filter-section">
            <label for="difficulty-select">Difficulty:</label>
            <select id="difficulty-select">
              <option value="">Any</option>
              <option value="Impossible">Impossible</option>
              <option value="Very Hard">Very Hard</option>
              <option value="Hard">Hard</option>
              <option value="Normal">Normal</option>
              <option value="Easy">Easy</option>
            </select>
          </div>
          <!-- Timer status filter -->
          <div class="filter-section">
            <label for="timerstatus-select">Timer:</label>
            <select id="timerstatus-select" onchange="toggleTimerInput()">
              <option value="">Any</option>
              <option value="True">Active</option>
              <option value="False">Inactive</option>
            </select>
          </div>
          <!-- Timer duration filter -->
          <div class="filter-section" id="duration-section" style="display: none;">
            <label for="duration-range">Timer Duration:</label>
            <input type="range" id="duration-input" min="5" max="600" step="5" value="5" />
            <output id="duration-output"></output>
          </div>
          <!-- Date posted filter -->
          <div class="filter-section">
            <label>Date posted:</label>
            <div class="date-posted-options">
              <input type="radio" id="today" name="date-posted" value="today" />
              <label for="today">today</label>
              <input type="radio" id="this-week" name="date-posted" value="this-week" />
              <label for="this-week">this week</label>
              <input type="radio" id="this-month" name="date-posted" value="this-month" />
              <label for="this-month">this month</label>
              <input type="radio" id="this-year" name="date-posted" value="this-year" />
              <label for="this-year">this year</label>
            </div>
          </div>
          <div class="filter-actions">
            <button id="apply-filters">Apply Filters</button>
            <button id="cancel-filters">Cancel</button>
          </div>
        </div>
        <div class="filter-menu-background" id="filter-menu-background" style="display:none;"></div>
      </div>
      <div class="sorting-container">
        <label for="sorting-select">Sort <i class="fa-solid fa-sort fa-sm" style="color: #6495ed;"></i> :</label><select id="sorting-select">
          <option value="newest">Newest first</option>
          <option value="rating">Highest rating first</option>
        </select>
      </div>
    </div>
    <div class="current-games" id="current-games">
      {% for game in current_games %}
      <div class="game">
        <h2><span class="title">{{ game.map_title }}</span> by <span class="creator">{{ game.creator }}</span></h2>
        <div class="game-details">
          <p class="game-difficulty">
            {{ game.difficulty }} <i class="fa-solid fa-signal fa-xs" style="color: #a06bf6; margin-left: 3px;"></i>
          </p>
          <div class="vertical-line"></div>
          <p class="game-mobility" style="display: none;">{{ game.mobility }}</p>
          {% if game.mobility == True %}
            <p>
              Movement Allowed <i class="fa-solid fa-person-running fa-xs" style="color: #00c800; margin-left: 3px;"></i>
            </p>
          {% else %}
            <p>
              No Movement Allowed <i class="fa-solid fa-person-running fa-xs" style="color: #c80000; margin-left: 3px;"></i>
            </p>
          {% endif %}
          <div class="vertical-line"></div>
          <p class="game-duration">{{ game.timer_duration }} seconds <i class="fa-solid fa-stopwatch fa-xs" style="color: #a06bf6; margin-left: 3px;"></i></p>
          <p class="game-timerstatus" style="display: none;">{{ game.timer_status }} <i class="fa-solid fa-stopwatch fa-xs"></i></p>
          <div class="vertical-line"></div>
          <p class="game-date">{{ game.date_created|date:'Y-m-d' }}</p>
          <p><i class="fa-solid fa-calendar-day fa-xs" style="color: #a06bf6; margin-left: 3px;"></i></p>
          <div class="vertical-line"></div>
          <p class="game-likes" id="game-likes">{{ game.likes }}</p>
          <p>
            <i class="fa-solid fa-thumbs-up fa-xs" style="color: #00c800; margin-left: 3px;"></i>
          </p>
          <p class="game-dislikes" id="game-dislikes" style="margin-left: 3px;">{{ game.dislikes }}</p>
          <p>
            <i class="fa-solid fa-thumbs-down fa-xs" style="color: #c80000; margin-left: 3px;"></i>
          </p>
        </div>
        <p class="games-description">{{ game.map_description|truncate_words:30 }}</p>
        <div class="hidden-game-id" id="hidden-game-id" style="display: none;">{{ game.id }}</div>
        <div class="game-actions">
          <a href="{% url 'custom_game_detail' game.id %}" class="game-view">View</a>
          <a class="game-like"><i class="fa-solid fa-thumbs-up fa-sm"></i> Like</a>
          <a class="game-dislike"><i class="fa-solid fa-thumbs-down fa-sm"></i> Dislike</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="all-games" id="all-games" style="display:none;">
      {% for game in all_games %}
      <div class="game">
        <h2><span class="title">{{ game.map_title }}</span> by <span class="creator">{{ game.creator }}</span></h2>
        <div class="game-details">
          <p class="game-difficulty">
            {{ game.difficulty }} <i class="fa-solid fa-signal fa-xs" style="color: #a06bf6; margin-left: 3px;"></i>
          </p>
          <div class="vertical-line"></div>
          <p class="game-mobility" style="display: none;">{{ game.mobility }}</p>
          {% if game.mobility == True %}
            <p>
              Movement Allowed <i class="fa-solid fa-person-running fa-xs" style="color: #00c800; margin-left: 3px;"></i>
            </p>
          {% else %}
            <p>
              No Movement Allowed <i class="fa-solid fa-person-running fa-xs" style="color: #c80000; margin-left: 3px;"></i>
            </p>
          {% endif %}
          <div class="vertical-line"></div>
          <p class="game-duration">{{ game.timer_duration }} seconds <i class="fa-solid fa-stopwatch fa-xs" style="color: #a06bf6; margin-left: 3px;"></i></p>
          <p class="game-timerstatus" style="display: none;">{{ game.timer_status }} <i class="fa-solid fa-stopwatch fa-xs"></i></p>
          <div class="vertical-line"></div>
          <p class="game-date">{{ game.date_created|date:'Y-m-d' }}</p>
          <p><i class="fa-solid fa-calendar-day fa-xs" style="color: #a06bf6; margin-left: 3px;"></i></p>
          <div class="vertical-line"></div>
          <p class="game-likes" id="game-likes">{{ game.likes }}</p>
          <p>
            <i class="fa-solid fa-thumbs-up fa-xs" style="color: #00c800; margin-left: 3px;"></i>
          </p>
          <p class="game-dislikes" id="game-dislikes" style="margin-left: 3px;">{{ game.dislikes }}</p>
          <p>
            <i class="fa-solid fa-thumbs-down fa-xs" style="color: #c80000; margin-left: 3px;"></i>
          </p>
        </div>
        <p class="games-description">{{ game.map_description|truncate_words:30 }}</p>
        <div class="hidden-game-id" id="hidden-game-id" style="display: none;">{{ game.id }}</div>
        <div class="game-actions">
          <a href="{% url 'custom_game_detail' game.id %}" class="game-view">View</a>
          <a class="game-like"><i class="fa-solid fa-thumbs-up fa-sm"></i> Like</a>
          <a class="game-dislike"><i class="fa-solid fa-thumbs-down fa-sm"></i> Dislike</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <p id="no-results" style="display: none;">
      No results. <i class="fa-solid fa-heart-crack fa-xs"></i>
    </p>
    <div class="pagination">
      <span class="step-links">
        {% if current_games.has_previous %}
          <a href="?page=1"><i class="fa-solid fa-angles-left fa-xs"></i></a>
          <a href="?page={{ current_games.previous_page_number }}"><i class="fa-solid fa-angle-left fa-xs"></i></a>
        {% else %}
          <span class="disabled"><i class="fa-solid fa-angle-left fa-xs"></i></span>
          <span class="disabled"><i class="fa-solid fa-angles-left fa-xs"></i></span>
        {% endif %}

        {% for num in current_games.paginator.page_range %}
          {% if num == current_games.number %}
            <span class="current-page">{{ num }}</span>
          {% else %}
            {% with lower_bound=current_games.number|add:'-3' upper_bound=current_games.number|add:'3' %}
              {% if num > lower_bound and num < upper_bound %}
                <a href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endwith %}
          {% endif %}
        {% endfor %}

        {% if current_games.has_next %}
          <a href="?page={{ current_games.next_page_number }}"><i class="fa-solid fa-angle-right fa-xs"></i></a>
          <a href="?page={{ current_games.paginator.num_pages }}"><i class="fa-solid fa-angles-right fa-xs"></i></a>
        {% else %}
          <span class="disabled"><i class="fa-solid fa-angle-right fa-xs"></i></span>
          <span class="disabled"><i class="fa-solid fa-angles-right fa-xs"></i></span>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
