.main-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.box-text {
    font-family: 'Outfit', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.small-text {
    font-family: 'Work Sans', sans-serif;
}

.btn-container {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background-color: #a06bf6;
}

.btn-success {
    background-color: green;
}

.btn-primary:hover {
    background-color: #8460bd;
}

.btn-primary:hover, .btn-success:hover {
    transform: scale(1.075);
}

.blurry-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px); 
    z-index: -1; 
}

.container-section {
    margin-top: 1.5em; 
    color: white; 
    margin-bottom: 3em;
}


.container-section h2 {
    font-family: 'Outfit', sans-serif;
    color: white; 
}


.container-section p {
    font-family: 'Work Sans', sans-serif;
    font-size: medium;
    color: white; 
}

.feature-box {
    font-family: 'Work Sans', sans-serif;
}

.foreground-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}


.feature-box {
    background-color: #4e5959; 
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    color: white;
}


.box-text {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.small-text {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}
