.main-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.blurry-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px); /* Adjust the blur level as needed */
    z-index: -1; /* Place the background behind other elements */
}

.container-section {
    margin-top: 20px; /* Adjust the margin as needed */
    color: white; /* Set text color to white */
}

/* Style for the "Why create an account?" text */
.container-section h2 {
    color: white; /* Set text color to white */
}

/* Style for the paragraph under "Why create an account?" */
.container-section p {
    color: white; /* Set text color to white */
}

.foreground-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* Style for the boxes with text and symbols */
.feature-box {
    background-color: #4e5959; /* White background color for boxes */
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    color: white;
}

/* Style for the text inside the box */
.box-text {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

/* Style for the smaller font text */
.small-text {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}